@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Manage providers</h1>

    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadFile">
        <div class="form-group">
            <div class="col">
                <p>Upload provider catalog</p>
                <input type="file" name="file" accept=".xml" />
                <input type="submit" value="Upload and Update" />
            </div>
        </div>
    </form>
</div>

<div class="btn alert-danger">hjkj</div>

<div class="loader"></div>